# Ignore Rust build artifacts
**/target/
**/target

# Ignore Cargo files
**/Cargo.lock
**/.cargo/
**/.cargo
Cargo.lock

# Ignore IDE and editor files
*/.vscode/
*/.idea/
*.iml
*.ipr
*.iws

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore other files
*.bak
*.tmp
*.log
*.pid
*.seed
*.rs.bk
*.rs~
*.rs.swp
